name: tests-tickets

on:
  pull_request:
    paths:
      - "tickets/**" # Only run on changes within the tickets directory
      - ".github/workflows/tests-tickets.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd tickets && npm install && npm run test:ci
