name: tests-orders

on:
  pull_request:
    paths:
      - "orders/**" # Only run on changes within the orders directory
      - ".github/workflows/tests-orders.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd orders && npm install && npm run test:ci
