name: tests-payments

on:
  pull_request:
    paths:
      - "payments/**" # Only run on changes within the payments directory
      - ".github/workflows/tests-payments.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd payments && npm install && npm run test:ci
